# Practica

<br>
<br>

<img src="https://raw.githubusercontent.com/Hack-io-AI/ai_images/main/text-to-sql-practicas.webp" style="width:400px;"/>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pregunta-1" data-toc-modified-id="Pregunta-1-1">Pregunta 1</a></span></li><li><span><a href="#Pregunta-2" data-toc-modified-id="Pregunta-2-2">Pregunta 2</a></span></li><li><span><a href="#Pregunta-3" data-toc-modified-id="Pregunta-3-3">Pregunta 3</a></span></li><li><span><a href="#Pregunta-4" data-toc-modified-id="Pregunta-4-4">Pregunta 4</a></span></li><li><span><a href="#Pregunta-5" data-toc-modified-id="Pregunta-5-5">Pregunta 5</a></span></li><li><span><a href="#Pregunta-6" data-toc-modified-id="Pregunta-6-6">Pregunta 6</a></span></li><li><span><a href="#Pregunta-7" data-toc-modified-id="Pregunta-7-7">Pregunta 7</a></span></li><li><span><a href="#Pregunta-8" data-toc-modified-id="Pregunta-8-8">Pregunta 8</a></span></li><li><span><a href="#Pregunta-9" data-toc-modified-id="Pregunta-9-9">Pregunta 9</a></span></li><li><span><a href="#Pregunta-10" data-toc-modified-id="Pregunta-10-10">Pregunta 10</a></span></li></ul></div>

In [1]:
from src.chat import get_sql_response

## Pregunta 1

In [2]:
prompt = '¿Qué actores tienen como nombre SCARLETT?'

response = get_sql_response(prompt)

print(response)

Los actores con el nombre SCARLETT son SCARLETT BENING y SCARLETT DAMON.

## Pregunta 2

In [3]:
prompt = '¿Qué actores tienen como apellido JOHANSSON?'

response = get_sql_response(prompt)

print(response)

Los actores con el apellido JOHANSSON son:

- MATTHEW JOHANSSON (actor_id: 8)
- RAY JOHANSSON (actor_id: 64)
- ALBERT JOHANSSON (actor_id: 146)

## Pregunta 3

In [4]:
prompt = '¿Cuántos apellidos de actores distintos hay?'

response = get_sql_response(prompt)

print(response)

Hay 121 apellidos diferentes de actores.

## Pregunta 4

In [5]:
prompt = '¿Qué apellidos no estan repetidos? Devuelve los apellidos del contexto y su numero.'

response = get_sql_response(prompt)

print(response)

Los apellidos que no se repiten y su número correspondiente son:

- ASTAIRE, 1
- BACALL, 1
- BALE, 1
- BALL, 1
- BARRYMORE, 1
- BASINGER, 1
- BERGEN, 1
- BERGMAN, 1
- BIRCH, 1
- BLOOM, 1
- BRIDGES, 1
- BULLOCK, 1
- CARREY, 1
- CHAPLIN, 1
- CLOSE, 1
- COSTNER, 1
- CROWE, 1
- CRUISE, 1
- CRUZ, 1
- DAMON, 1
- DAY-LEWIS, 1
- DERN, 1
- DREYFUSS, 1
- DUNST, 1
- GABLE, 1
- GIBSON, 1
- GOLDBERG, 1
- GRANT, 1
- HAWKE, 1
- HESTON, 1
- HOPE, 1
- HUDSON, 1
- HUNT, 1
- HURT, 1
- JOLIE, 1
- JOVOVICH, 1
- LEIGH, 1
- LOLLOBRIGIDA, 1
- MALDEN, 1
- MANSFIELD, 1
- MARX, 1
- MCDORMAND, 1
- MIRANDA, 1
- NICHOLSON, 1
- PESCI, 1
- PFEIFFER, 1
- PHOENIX, 1
- PINKETT, 1
- PITT, 1
- POSEY, 1
- PRESLEY, 1
- REYNOLDS, 1
- RYDER, 1
- SINATRA, 1
- SOBIESKI, 1
- STALLONE, 1
- SUVARI, 1
- SWANK, 1
- TAUTOU, 1
- TOMEI, 1
- VOIGHT, 1
- WALKEN, 1
- WAYNE, 1
- WILSON, 1
- WITHERSPOON, 1
- WRAY, 1

Cada uno de estos apellidos aparece solo una vez en el contexto dado.

## Pregunta 5

In [6]:
prompt = '¿Qué apellidos aparecen más de una vez?'

response = get_sql_response(prompt)

print(response)

Los apellidos que aparecen más de una vez son: KILMER, TEMPLE, NOLTE, ZELLWEGER, BERRY, WILLIS, WILLIAMS, TORN, AKROYD, PECK, ALLEN, DAVIS, KEITEL, JOHANSSON, DEGENERES, HOPKINS, HOFFMAN, HARRIS, GUINESS, GARLAND, GOODING, FAWCETT, HACKMAN, DUKAKIS, DEPP, DENCH, HOPPER, BENING, DEE, DEAN, BAILEY, MCCONAUGHEY, MCKELLEN, MCQUEEN, MONROE, MOSTEL, NEESON, CRONYN, OLIVIER, PALTROW, CRAWFORD, PENN, SILVERSTONE, STREEP, TANDY, CHASE, CAGE, TRACY, WAHLBERG, WEST.

## Pregunta 6

In [7]:
prompt = '¿Qué actor ha aparecido en más peliculas? Dame nombre y apellido'

response = get_sql_response(prompt)

print(response)

El actor que ha aparecido en más películas es Gina Degeneres.

## Pregunta 7

In [8]:
prompt = '¿Cuál es el tiempo medio de duración de una pelicula?'

response = get_sql_response(prompt)

print(response)

El tiempo promedio de duración de una película es de 115.2720 minutos.

## Pregunta 8

In [9]:
prompt = '¿Cuáles son los nombres de todos los lenguajes?. Ordenalos alfabeticamente'

response = get_sql_response(prompt)

print(response)

Los nombres de todos los idiomas, ordenados alfabéticamente, son: Inglés, Francés, Alemán, Italiano, Japonés, Mandarín.

## Pregunta 9

In [10]:
prompt = """Encuentra todas las categorias que tengan entre 55 and 65 peliculas. 
            Devuelve los nombres de esas 
            categorias y el numero de peliculas por categoria, 
            ordena por el numero de peliculas de manera descendente."""

response = get_sql_response(prompt)

print(response)

Las categorías con un número de películas entre 55 y 65, ordenadas de mayor a menor número de películas, son:

1. Acción: 64 películas
2. Nuevo: 63 películas
3. Drama: 62 películas
4. Juegos: 61 películas
5. Ciencia Ficción: 61 películas
6. Niños: 60 películas
7. Comedia: 58 películas
8. Clásicos: 57 películas
9. Viajes: 57 películas
10. Terror: 56 películas

## Pregunta 10

In [11]:
prompt = """¿En cuántas categorías de películas la diferencia 
            promedio entre el costo de reemplazo de la película 
            y la tarifa de alquiler es mayor a 17? 
            Dame sus nombres.
         """

response = get_sql_response(prompt)

print(response)

Existen 16 categorías de películas que tienen una diferencia promedio entre el costo de reemplazo y la tarifa de alquiler mayor a 17. Los nombres de estas categorías son:

1. Acción
2. Animación
3. Infantil
4. Clásicos
5. Comedia
6. Documental
7. Drama
8. Familia
9. Extranjero
10. Juegos
11. Terror
12. Música
13. Nuevo
14. Ciencia Ficción
15. Deportes
16. Viajes